.d-grid {
  display: grid;
}

body {
  background-color: #50bee5;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  border: solid yellow;
}

.block {
  padding: 20px;
  border: solid #fff;
}

.red {
  background-color: tomato;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.violet {
  background-color: violet;
}

.darkblue {
  background-color: darkblue;
}

.grid-layout-first {
  width: 800px;
  height: 250px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 150px));
}
